.card{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:auto;
  margin-right:auto;
  margin: 20px;
  font-size: 15px;
}

.card-body{
  padding: 2px;
}

.list-group-item{
  padding: 2px;
}
