<img src="../../../assets/header.png" alt="">
<nav>
  <div class="nav nav-tabs" role="tablist">
    <a class="nav-item nav-link active col" aria-selected="true" role="tab" data-toggle="tab" [routerLink]="['/home']" >Inicio</a>
    <a class="nav-item nav-link col" aria-selected="false" role="tab" data-toggle="tab" [routerLink]="['/home/other']" >Otro</a>
    <a class="nav-item nav-link col" aria-selected="false" role="tab" data-toggle="tab" [routerLink]="['/home']">Profile</a>
    <a class="nav-item nav-link col" aria-selected="false" role="tab" data-toggle="tab" [routerLink]="['/home/profile']">Perfil</a>
  </div>
</nav>

<!-- <div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div> -->
