<nav class="navbar navbar-light bg-light justify-content-center">
  <form class="form-inline">
    <input class="form-control mr-sm-2" [(ngModel)]="selectYear" name="search" type="search" placeholder="Año" aria-label="Search" required>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search()">Buscar</button>
  </form>
</nav>

<p *ngIf="invoicesEmpty" class="register-invoices">*No existen registros con ese año*</p>

<div *ngFor="let inv of invoices">
  <app-info-invoice
    [invoice_id]="inv['invoice_id']"
    [invoice]="inv['invoice']"
    [date]="inv['date']"
    [state]="inv['state']"
    [auth]="inv['auth']"
    [pdf]="inv['pdf']"
    [xml]="inv['xml']"
  ></app-info-invoice>
</div>

<!-- <mat-form-field>
  <input matInput [matDatepicker]="dp" placeholder="Month and Year">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (yearSelected)="chosenYearHandler($event)"
                  panelClass="example-month-picker"
                  >
  </mat-datepicker>
</mat-form-field> -->
