input{
  max-width: 200px;
}

.register-invoices{
  text-align: center;
  margin-top: 10px;
  color: red;
}

// .set-date{
//   background-color: rgb(248, 248, 248);
//   // color: red;
// }
// ::ng-deep .mat-focused .mat-form-field-label {
//   /*change color of label*/
//   color: rgb(0, 165, 63) !important;
//  }
//  ::ng-deep.mat-form-field-underline {
//   /*change color of underline*/
//   background-color: rgb(0, 38, 165) !important;
//  }
//  ::ng-deep.mat-form-field-ripple {
//   /*change color of underline when focused*/
//   background-color: rgb(0, 38, 165) !important;;
//  }
//  ::ng-deep .mat-form-field-label {
//   /*change color of label*/
//   color: rgb(0, 38, 165) !important;
//  }
//  mat-datepicker-toggle { //icon
//   color: rgb(0, 38, 165) !important;
//  }
// .mat-calendar-controls .mat-calendar-period-button {
//   width: 0;
//   display: none;
// }
// .example-month-picker .mat-calendar-header{
//   display: none;
// }

// mat-year-view .mat-calendar-body-label{
//   display: none !important;
// }
// .example-month-picker .mat-calendar {
//   height: 170px !important;
// }

